<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h1> <%= @lawyerinfo.job_title %> </h1>
        <p><strong> Current Firm:</strong> <%= @lawyerinfo.current_firm %></p>
        <!-- <p><strong> Job Title:</strong> <%= @lawyerinfo.job_title %></p> -->
        <p><strong> PQE:</strong> <%= @lawyerinfo.pqe %> years</p>
        <p><strong> University:</strong> <%= @lawyerinfo.university %></p>
        <p><strong>Degree Classification:</strong> <%= @lawyerinfo.degree_classification %>(HONS) </p>
        <p><strong> Expected Salary:</strong> £ <%= @lawyerinfo.expected_salary %></p>
        <p><strong> Job status:</strong> <%= @lawyerinfo.job_status %></p>
        <p><strong> Practice area:</strong> <%= @lawyerinfo.practice_area %></p>
        <p><strong> Target Firm Type:</strong> <%= @lawyerinfo.firm_type %></p>
        <p><strong> Interests:</strong> <%= @lawyerinfo.interests %></p>

    </div>
    <div class="col-xs-4">
      <%= simple_form_for(@interview) do |f| %>
        <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.button :submit, "Go", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
